[run]
source = src
omit = 
    src/**/__init__.py
    src/tests/**
    src/ot_harjoitustyo2026/ui.py
    src/ot_harjoitustyo2026/menu.py
    src/ot_harjoitustyo2026/game.py
    src/ot_harjoitustyo2026/gameover.py
    src/ot_harjoitustyo2026/main.py